/* ایمپورت کردن فونت وزیرمتن (Vazirmatn) از Google Fonts
  ما از وزن‌های مختلف آن برای انعطاف‌پذیری در طراحی استفاده می‌کنیم.
*/
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

@font-face{
    font-family: "IRANYekanX";
    src: url("/resources/fonts/iranYekanX/IRANYekanXVFaNumVF.woff2") format("woff2-variations");
    font-weight: 100 900;               /* رنج وزن برای variable font */
    font-style: normal;
    font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@source "./resources/views";
@source "./resources/js";
@source "./storage/framework/views";
@source "./Modules/**/Resources/views";
@source "./Modules/**/Resources/js";

/* اعمال کردن جهت‌دهی راست‌به‌چپ (RTL) به کل سند HTML
  این کار باعث می‌شود تمام المان‌ها به صورت پیش‌فرض راست‌چین شوند.
*/
html {
    direction: rtl;
}

/* ایمپورت کردن لایه‌های پایه Tailwind CSS
  اینها استایل‌های پیش‌فرض Tailwind هستند.
*/
@theme {
    /* نمونه‌ها (اختیاری) */
    --font-sans: "IRANYekanX", ui-sans-serif, system-ui, sans-serif;
    /* --color-brand-500: oklch(0.7 0.12 260); */
}

html { font-family: var(--font-sans); font-variation-settings:"wght" 400; font-optical-sizing:auto; }

.digits-fa { font-feature-settings: "locl" 1; }
.btn { @apply px-3 py-2 rounded-lg font-medium; }

[x-cloak] {
    display: none;
}
